* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* Green - #1DB66D
Grey - #F5F5F5
Black - #2D3037 */

@font-face {
    font-family: "Poppins";
    src: url("./Assets/Fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("./Assets/Fonts/Bebas-Neue-Regular.ttf");
}

:root {
    --navigationBarSize: 50px;
    --overallWebPageSpacing: 25px;
}

body {
    background-color: #0D0D0D;
}

html {
    scroll-behavior: smooth;
}

/* Placeholder
.Placeholder {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}

.Placeholder p {
    font-size: 60px;
    font-family: "Bebas Neue";
    color: #FFFFFF;
} */

/* Container */
.Container {
    width: 100%;
    max-width: 2500px;
    margin: auto;
}

/* Navigation Bar */
#Navigation-Bar-Background {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: var(--navigationBarSize);
    background-color: #0D0D0D;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
}

#Navigation-Bar {
    width: 100%;
    height: 100%;
    max-width: 2500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--overallWebPageSpacing);
}

#Navigation-Bar-Branding {
    display: flex;
    align-items: center;
}

#Navigation-Bar-Branding img {
    height: 50px;
    cursor: pointer;
}

#Navigation-Bar-Branding p {
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 15px;
}

#Navigation-Bar-Links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Navigation-Bar-Link {
    color: #FFFFFF;
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

#Navigation-Bar-Link:hover {
    color: #0080FF;
}

/* Header Margin */
#Header-Margin {
    height: var(--navigationBarSize);
}

/* Showcase */
#Showcase {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--navigationBarSize));
    display: flex;
    justify-content: center;
}

#Showcase-Contents {
    padding: var(--overallWebPageSpacing);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#Showcase-Image {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    animation: Showcase-Image-Animation 3s ease-in-out infinite;
}

@keyframes Showcase-Image-Animation {
    0% {
        filter: hue-rotate(0deg) brightness(25%);
    }

    50% {
        filter: hue-rotate(360deg) brightness(25%);
    }

    100% {
        filter: hue-rotate(0deg) brightness(25%);
    }
}

#Showcase-Title {
    font-family: "Bebas Neue";
    line-height: 1;
    font-size: 90px;
    color: #FFFFFF;
}

#Showcase-Title span {
    font-family: "Bebas Neue";
    color: #0080FF;
}

#Showcase-Sub-Title {
    font-size: 22px;
    color: #FFFFFF;
}

#Showcase-Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#Showcase-Buttons span {
    width: 25px;
}

#Explore-Designs-Button, #Explore-Projects-Button {
    padding: 7px;
    width: 200px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

#Explore-Designs-Button:hover, #Explore-Projects-Button:hover {
    background-color: #0080FF;
    color: #FFFFFF;
}

/* Ads */
.SA {
    width: 250px;
    height: 250px;
    background-color: #FF0000;
    margin: 25px 0px;
}

.SSA {
    width: 200px;
    height: 200px;
    background-color: #FF0000;
    margin: 25px 0px;
}

.B {
    width: 970px;
    height: 90px;
    background-color: #FF0000;
    margin: 25px 0px;
}

.SR {
    width: 300px;
    height: 250px;
    background-color: #FF0000;
    margin: 25px 0px;
}

.LR {
    width: 300px;
    height: 600px;
    background-color: #FF0000;
    margin: 25px 0px;
}


/* Cards Block */
.Cards-Block {
    display: flex;
    flex-direction: row;
}

.Cards-Block-Content {
    flex: 80%;
    padding: var(--overallWebPageSpacing);
    background-color: #F5F5F5;
}

.Side-Bar {
    flex: 20%;
    padding: var(--overallWebPageSpacing);
    padding-left: 0px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Heading {
    font-size: 50px;
    margin-top: 10px;
    font-family: "Bebas Neue";
    margin-bottom: -15px; /* To compensate for extra space left due {margin-top} property's value of {Text-Block} */
}

.Text-Block {
    font-size: 16px;
    margin-top: 15px;
}

.Text-Block a {
    color: #0080FF;
    text-decoration: none;
}

.Text-Block a:hover {
    color: #FF0000;
}

.Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12.5px 0px;
    margin: 0px -12.5px;
}

.Card {
    position: relative;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    margin: 12.5px;
    background-color: #FFFFFF;
    border: 2px solid #EDEDED;
    transition: all 0.5s;
}

.Card:hover {
    transform: scale(1.04);
}

.Card a {
    text-decoration: none;
}

.Card-Showcase {
    position: relative;
    width: 100%;
}

.Card-Showcase-Entity {
    width: 100%;
}

.Card-Body {
    padding: 15px;
}

.Card-Heading {
    color: #000000;
    font-family: "Bebas Neue";
    font-size: 30px;
}

.Card-Date {
    color: #000000;
    font-size: 14px;
    margin: 5px 0px;
}

.Card-Description {
    color: #000000;
    font-size: 14px;
}

.Card-Horizontal-Line {
    height: 1px;
    background-color: #EDEDED;
    margin: 5px -15px;
}

.Card-Tags {
    display: flex;
    flex-wrap: wrap;
}

.Card-Tag {
    color: #0080FF;
    font-size: 14px;
    margin-right: 5px;
}

.Card-Tag::before {
    content: "#";
}

.Card-Attribution {
    font-size: 14px;
    color: #0080FF;
}

.Card-Source-Link {
    font-size: 14px;
    color: #0080FF;
}

.Card-Source-Link:hover {
    color: #FF0000;
}
/* About Me */
#About-Me {
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #EDEDED;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    position: sticky;
    top: 75px;
}

#About-Me-Images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 225px;
}

#About-Me-Background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: 1;
}

#About-Me-Image {
    z-index: 2;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

#About-Me-Content {
    margin-top: -50px; /* -75px + 25px = To extra space + general padding of 25px */
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#About-Me-Name {
    font-size: 18px;
    font-weight: bold;
}

#About-Me-Location {
    font-size: 14px;
}

#About-Me-Description {
    margin-top: 10px;
    font-size: 14px;
}

#About-Me-Description span {
    color: #0080FF;
}

#About-Me-Email {
    font-size: 14px;
    color: #0080FF;
    margin-top: 5px;
}

#About-Me-Contact-Title {
    font-family: 16px;
    margin-top: 10px;  
}

#About-Me-Contacts {
    display: flex;flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px -5px;
    margin-top: 15px;  
}

.About-Me-Contact {
    filter: grayscale(100%);
    height: 35px;
    margin: 5px;
}

.About-Me-Contact:hover {
    filter: grayscale(0%);
}

@media (max-width: 1436px) {
    .Cards-Block {
        flex-direction: column;
    }

    .Cards-Block-Content {
        flex: 100%;
        padding: var(--overallWebPageSpacing);
        order: 2;
    }
    
    .Side-Bar {
        order: 1;
        flex: 100%;
        padding: var(--overallWebPageSpacing);
        padding-left: 0px;
    }

    .Side-Bar {
        padding-left: 25px;
    }

    #About-Me {
        position: relative;
        top: 0px;
    }
}

@media (max-height: 750px) {
    #Showcase {
        min-height: 750px;
    }
}

@media (max-width: 616px) {
    #Showcase-Title {
        font-size: 60px;
    }
    
    #Showcase-Sub-Title {
        font-size: 18px;
    }
}

@media (max-width: 525px) {
    #Navigation-Bar-Branding p {
        display: none;
    }
}

@media (max-width: 470px) {
    #Showcase-Buttons {
        flex-direction: column;
    }

    #Explore-Designs-Button {
        margin-bottom: 25px;
    }
}

@media (max-width: 325px) {
    #Showcase-Title {
        font-size: 50px;
    }
    
    #Showcase-Sub-Title {
        font-size: 16px;
    }
}